<h3>Configuration</h3>
<form>
  <div class="form-group">
    <label for="formControlRange">Interval time</label>
    <input
    [(ngModel)]="intervalMinutes"
      type="range"
      class="form-control-range"
      id="formControlRange"
    />
    {{ config.intervalMinutes }}
  </div>

  <hr />
  <div class="d-flex justify-content-center">
    <div class="w-50">
      <button
        *ngIf="!isProcessing"
        class="btn btn-primary btn-block"
        (click)="startProcessing()"
      >
        Start
      </button>
      <button
        *ngIf="isProcessing"
        class="btn btn-danger btn-block"
        (click)="stopProcessing()"
      >
        Stop
      </button>
    </div>
  </div>
</form>
